.imagemFundo
{
	background-image:url(../figuras_selecionadas/fundoPreto_01.jpg);
	background-size: 100%;
    bottom: 0;
    color: #fff;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: justify;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {
.imagemFundo
{
    background-image: url(../figuras_selecionadas/fundoPreto_03.jpg);
    background-repeat: no-repeat;
	background-size: 100%;
    bottom: 0;
    color: #fff;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: justify;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}
}

@media screen and (max-width: 768px) {
.imagemFundo
{
    background-image: url(../figuras_selecionadas/fundoPreto_02.jpg);
    background-repeat: no-repeat;
	background-size: 100%;
    bottom: 0;
    color: #fff;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: justify;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}
}


