#logo	{width:305px;
		height:320px;
		margin-top:15px;
		left:50%;
		transform:translateX(-50%);
		position:relative;
		float:left;
		background-image:url(figuras_selecionadas/logo.fw.png)}
		
#corpoBotao{width:230px;
			height:auto;
			float:left;
			left:50%;
			transform:translateX(-50%);
			margin-top:29%;
			position:absolute;}

#link{		width:118px;
			height:auto;
			color: #fff;
			text-decoration: none;
			font-family: 'Buxton Sketch';
			font-size: 25px;
			margin-left: 30%;
			margin-top: 110%;
			position:absolute;
			transition:all 0.3s ease;
}

#link:hover{
				-webkit-transform: scale(0.9);
				-ms-transform: scale(0.9);
				transform: scale(0.9);
}

#botaoObjetivo	{width:230px;
					height:100px;
					float:left;
					position:relative;
					transition:all 0.3s ease;
					background-image:url(figuras_selecionadas/botaoObjetivo.png)}	
					
#botaoObjetivo:hover{ -webkit-transform: scale(0.9);
					  -ms-transform: scale(0.9);
					   transform: scale(0.9); }
					
#botaoConteudo	{width:230px;
					height:100px;
					margin-top:10px;
					float:left;
					position:relative;
					background-image:url(figuras_selecionadas/botaoConteudo.png);
					transition:all 0.3s ease;}
					
#botaoConteudo:hover{
								 -webkit-transform: scale(0.9);
								  -ms-transform: scale(0.9);
								  transform: scale(0.9); }					
					
#botaoEntrar{	width:230px;
					height:100px;
					margin-top:10px;
					float:left;
					position:relative;
					transition:all 0.3s ease;
					background-image:url(figuras_selecionadas/botaoEntrar.png)}
					
#botaoEntrar:hover{ -webkit-transform: scale(0.9);
					  -ms-transform: scale(0.9);
					   transform: scale(0.9); }
					   
@media screen and (max-width:1200px) { 

					
#logo	{width:305px;
		height:320px;
		margin-top:20px;
		left:50%;
		transform:translateX(-50%);
		position:relative;
		float:left;
		background-image:url(figuras_selecionadas/logo.fw.png)}
		
#corpoBotao{width:230px;
			height:auto;
			float:left;
			left:50%;
			transform:translateX(-50%);
			margin-top:38%;
			position:absolute;}
			
}

@media screen and (max-width: 959px) {

#logo	{width:290px;
		height:305px;
		background-size:290px;
		margin-top:20px;
		left:50%;
		transform:translateX(-50%);
		position:relative;
		background-repeat:no-repeat;
		float:left;
		background-image:url(figuras_selecionadas/logo.fw.png)}
		
#corpoBotao{width:230px;
			height:auto;
			float:left;
			left:50%;
			transform:translateX(-50%);
			margin-top:50%;
			position:absolute;}
			
#botaoObjetivo	{width:230px;
					height:100px;
					float:left;
					position:relative;
					transition:all 0.3s ease;
					background-image:url(figuras_selecionadas/botaoObjetivo.png)}	
					

	}
			
@media screen and (max-width: 767px) 	{


					
#logo	{width:290px;
		height:305px;
		background-size:290px;
		margin-top:20px;
		left:50%;
		transform:translateX(-50%);
		position:relative;
		background-repeat:no-repeat;
		float:left;
		background-image:url(figuras_selecionadas/logo.fw.png)}
		
#corpoBotao{width:230px;
			height:auto;
			float:left;
			left:50%;
			transform:translateX(-50%);
			margin-top:70%;
			position:absolute;}
			
#botaoObjetivo	{width:230px;
					height:100px;
					
					float:left;
					position:relative;
					transition:all 0.3s ease;
					background-image:url(figuras_selecionadas/botaoObjetivo.png)}
					
#link{		width:118px;
			height:auto;
			color: #fff;
			text-decoration: none;
			font-family: 'Buxton Sketch';
			font-size: 25px;
			margin-left: 15%;
			margin-top: 110%;
			position:relative;
			transition:all 0.3s ease;
}

#link:hover{
				-webkit-transform: scale(0.9);
				-ms-transform: scale(0.9);
				transform: scale(0.9);
}
	
	}
	
	
@media screen and (max-width: 479px) {
	

					
#logo	{width:230px;
		height:240px;
		background-size:230px;
		margin-top:20px;
		left:50%;
		transform:translateX(-50%);
		position:relative;
		background-repeat:no-repeat;
		float:left;
		background-image:url(figuras_selecionadas/logo.fw.png)}
		
#corpoBotao{width:180px;
			height:auto;
			float:left;
			left:50%;
			transform:translateX(-50%);
			margin-top:90%;
			position:absolute;}
			
#botaoObjetivo	{
	width:180px;
	height:80px;
	background-size:180px;
	float:left;
	position:relative;
	transition:all 0.3s ease;
	background-image:url(figuras_selecionadas/botaoObjetivo.png)}
	
#botaoConteudo	{
	width:180px;
	height:80px;
	background-size:180px;
	margin-top:10px;
	float:left;
	position:relative;
	background-image:url(figuras_selecionadas/botaoConteudo.png);
	transition:all 0.3s ease;}
					

#botaoEntrar{	
	width:180px;
	height:80px;
	background-size:180px;
	margin-top:10px;
	float:left;
	position:relative;
	transition:all 0.3s ease;
	background-image:url(figuras_selecionadas/botaoEntrar.png)}
	
#link{		width:118px;
			height:auto;
			color: #fff;
			text-decoration: none;
			font-family: 'Buxton Sketch';
			font-size: 25px;
			margin-left: 15%;
			margin-top: 110%;
			position:relative;
			transition:all 0.3s ease;
}

#link:hover{
				-webkit-transform: scale(0.9);
				-ms-transform: scale(0.9);
				transform: scale(0.9);
}
					

					}											