@font-face {
	font-family: 'Chalk-hand-lettering-shaded_dem';
	src: url('chalkHand/Chalk-hand-lettering-shaded_demo.eot');
	src: url('chalkHand/Chalk-hand-lettering-shaded_demo.eot?#iefix') format('embedded-opentype'),
		url('chalkHand/Chalk-hand-lettering-shaded_demo.woff2') format('woff2'),
		url('chalkHand/Chalk-hand-lettering-shaded_demo.woff') format('woff'),
		url('chalkHand/Chalk-hand-lettering-shaded_demo.ttf') format('truetype'),
		url('chalkHand/Chalk-hand-lettering-shaded_demo.svg#Chalk-hand-lettering-shaded_demo') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'orange juice';
	src: url('orange_juice/orangejuice.eot');
	src: url('orange_juice/orangejuice.eot?#iefix') format('embedded-opentype'),
		url('orange_juice/orangejuice.woff2') format('woff2'),
		url('orange_juice/orangejuice.woff') format('woff'),
		url('orange_juice/orangejuice.ttf') format('truetype'),
		url('orange_juice/orangejuice.svg#orangejuice') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'BuxtonSketch';
	src: url('buxtonSketch/./BuxtonSketch.eot');
	src: local('buxtonSketch/BuxtonSketch'), url('buxtonSketch/./BuxtonSketch.woff') format('woff'), url('buxtonSketch/./BuxtonSketch.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1049">Text with this font applied</p> */
.fontsforweb_fontid_1049 {
	font-family: 'BuxtonSketch' !important;
}

@font-face {
	font-family: 'Buxton Sketch';
	src: url('buxtonSketch/BuxtonSketch.eot');
	src: url('buxtonSketch/BuxtonSketch.eot?#iefix') format('embedded-opentype'),
		url('buxtonSketch/BuxtonSketch.woff') format('woff'),
		url('buxtonSketch/BuxtonSketch.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}




@font-face {
    font-family: 'Swis721CnBTBold';
    src: url('Swis721-1/tt0010m-webfont.eot');
    src: url('Swis721-1/tt0010m-webfont.eot?#iefix') format('embedded-opentype'),
         url('Swis721-1/tt0010m-webfont.woff') format('woff'),
         url('Swis721-1/tt0010m-webfont.ttf') format('truetype'),
         url('Swis721-1/tt0010m-webfont.svg#Swis721CnBTBold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Swis721CnBTRoman';
    src: url('Swis721-1/tt0009m-webfont.eot');
    src: url('Swis721-1/tt0009m-webfont.eot?#iefix') format('embedded-opentype'),
         url('Swis721-1/tt0009m-webfont.woff') format('woff'),
         url('Swis721-1/tt0009m-webfont.ttf') format('truetype'),
         url('Swis721-1/tt0009m-webfont.svg#Swis721CnBTRoman') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Swis721CnBTBoldItalic';
    src: url('Swis721/tt0172m-webfont.eot');
    src: url('Swis721/tt0172m-webfont.eot?#iefix') format('embedded-opentype'),
         url('Swis721/tt0172m-webfont.woff') format('woff'),
         url('Swis721/tt0172m-webfont.ttf') format('truetype'),
         url('Swis721/tt0172m-webfont.svg#Swis721CnBTBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* Generated by Font Squirrel (http://www.fontsquirrel.com) on April 12, 2013 */



@font-face {
    font-family: 'switzerlandnarrowitalic';
    src: url('swish_italic/switzerlandnarrow_italic_1-webfont.eot');
    src: url('swish_italic/switzerlandnarrow_italic_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('swish_italic/switzerlandnarrow_italic_1-webfont.woff') format('woff'),
         url('swish_italic/switzerlandnarrow_italic_1-webfont.ttf') format('truetype'),
         url('swish_italic/switzerlandnarrow_italic_1-webfont.svg#switzerlandnarrowitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'walkway_oblique_blackregular';
    src: url('walkway/walkway_oblique_black-webfont.eot');
    src: url('walkway/walkway_oblique_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('walkway/walkway_oblique_black-webfont.woff') format('woff'),
         url('walkway/walkway_oblique_black-webfont.ttf') format('truetype'),
         url('walkway/walkway_oblique_black-webfont.svg#walkway_oblique_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'walkway_boldregular';
    src: url('walkway_bold/walkway_bold-webfont.eot');
    src: url('walkway_bold/walkway_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('walkway_bold/walkway_bold-webfont.woff') format('woff'),
         url('walkway_bold/walkway_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'daxcondensedregular';
    src: url('daxcondensed/daxcondensed-webfont.eot');
    src: url('daxcondensed/daxcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('daxcondensed/daxcondensed-webfont.woff') format('woff'),
         url('daxcondensed/daxcondensed-webfont.ttf') format('truetype'),
         url('daxcondensed/daxcondensed-webfont.svg#daxcondensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}





@font-face {
    font-family: 'daxcondensed-regularregular';
    src: url('daxcondensed_regular/daxcondensedregular-webfont.eot');
    src: url('daxcondensed_regular/daxcondensedregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('daxcondensed_regular/daxcondensedregular-webfont.woff') format('woff'),
         url('daxcondensed_regular/daxcondensedregular-webfont.ttf') format('truetype'),
         url('daxcondensed_regular/daxcondensedregular-webfont.svg#daxcondensed-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'daxcondensed-lightregular';
    src: url('daxcondensed_light/dax2condensedlight-webfont.eot');
    src: url('daxcondensed_light/dax2condensedlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('daxcondensed_light/dax2condensedlight-webfont.woff') format('woff'),
         url('daxcondensed_light/dax2condensedlight-webfont.ttf') format('truetype'),
         url('daxcondensed_light/dax2condensedlight-webfont.svg#daxcondensed-lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* Generated by Font Squirrel (http://www.fontsquirrel.com) on January 28, 2014 */



@font-face {
    font-family: 'century_gothicregular';
    src: url('century_gothic/gothic_0-webfont.eot');
    src: url('century_gothic/gothic_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('century_gothic/gothic_0-webfont.woff') format('woff'),
         url('century_gothic/gothic_0-webfont.ttf') format('truetype'),
         url('century_gothic/gothic_0-webfont.svg#century_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'square';
	src: url('square/tt0246m_.eot');
	src: local('☺'), url('square/tt0246m_.woff') format('woff'), url('square/tt0246m_.ttf') format('truetype'), url('square/tt0246m_.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'district';
	src: url('district/DistProTh.eot');
	src: local('☺'), url('district/DistProTh.woff') format('woff'), url('district/DistProTh.ttf') format('truetype'), url('district/DistProTh.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


