*{
	margin:0;
	padding:0;
}

body{
	background-color:#999;
	text-align:center;
}
		
/* ---------------------------------------- CRONOMETRO -------------------------  */
		
#contenedor{
	margin: 5px auto;
	width: 250px;
	margin-left:20px;
	height: auto;
	float:left;
}

#corpoBotaoRelogio{
	width:auto;
	margin-left:250px;
	height:auto;
	position:absolute;
	margin-top:13px;
	float:left;
}

.reloj{
	float: left;
	font-size: 40px;
	left:20px;
	font-family: 'Buxton Sketch';
	color: #FFF;
}

.boton{
	border: 1px solid #363431;
	color: white;
	width: 80px;
	height: 30px;
	text-shadow: 0px -1px 1px black;
	font-size: 20px;
	position:relative;
	border-radius: 5px;
	font-family: 'Buxton Sketch';
	cursor: pointer;
	background-image: linear-gradient(#3aad02,#2c6f05);
}
.boton:active{
	background-image: linear-gradient(#2c6f05,#3aad02);
}
.boton:hover{
	box-shadow: 0px 0px 14px #3aad02;
}		
/*------------------------- CORPO DOS PONTOS -------------------------------*/

#CaixaDosPontos{
	width:200px;
	height:30px;
	float:right;
	margin-top:10px;
	margin-right:20px;
}

#pontos{
	width:100px;
	height:100%;
	float:right;
	font-family: 'Buxton Sketch';
	color:#FFF;
	font-size:30px;
	line-height:30px;
	text-align:center;
	position:relative;
}
		
#texto{
		width:100px;
		height:100%;
		float:left;
		font-family: 'Buxton Sketch';
		color:#FFF;
		font-size:30px;
		line-height:30px;
		text-align:center;
		position:relative;}

	
/*------------------------- CORPO DO JOGO -------------------------------*/		
		
#container{
	width:740px;
	height:425px;
	border:1px solid #000;
	position:relative;
	left: 50%;
	transform: translateX(-50%);
	top: 100px;
	border-radius:10px;
	background-color:#2D3E50;

}	
		
.card{
		width: 100px;
		cursor:pointer;
		height:100px;
		position:absolute;
		border-radius:10px;
		perspective:200px;
	}		

.face{
	width:100%;
	height:100%;
	position:absolute;
	border-radius:10px;
	transition: all 1s;
	backface-visibility:hidden;
}
		
.back{
	background-image:url(../img/verso.jpg);
	background-size: 100px;
}	
		
.back.flipped{
	transform:rotateY(180deg);
}
		
.front{
	transform:rotateY(-180deg);
}

.face.front{
	background-size: 100px !important;
}

.face.back.flipped{
	background-size: 100px !important;
}

.front.flipped{
	transform:rotateY(0deg);
}

		
.card:hover{
	box-shadow: 0 0 10px #000;
}

.face.flipped.match{
		box-shadow: 0 0 10px #00FFFF;}
	
		
#modalGameOver{
	position:absolute;
	top:0;
	width:100%;
	height:95%;
	background-color:rgba(0,0,0,0.5);
	z-index:-2
}	
		
#imgGameOver{
	margin-top:170px;}	
	
#imgMatchSign{
		position:relative;
		top: 250px;
		transition-property: top, opacity;
		transition-duration: 1.5s;
		opacity:1;
		z-index:-1;}	
		
		
#sair{
		width:auto;
		cursor:pointer;
		text-decoration:none;
		height:40px;
		line-height:35px;
		font-family:'Buxton Sketch';
		font-size:30px;
		color:#FFFFFF;
		margin-right:20px;
		background-color:transparent;
		float:right;
		margin-top:20px;
		border:double 5px;
		border-color:transparent;
		border-radius: 5px;
		transition:all 0.3s ease;}
		
#sair:hover{
		color: #FF7373;
		-webkit-transform: scale(0.90);
		-ms-transform: scale(0.90);
		transform: scale(0.90);  }					